---
import { type ImageMetadata } from 'astro';

interface Props {
  title: string;
  employment_type: string;
  work_title: string;
  href: string;
  group: string;
  date: string;
  image: ImageMetadata;
  icon: ImageMetadata;
  description: string;
}

const { title, employment_type, work_title, href, group, date, image, icon, description } =
  Astro.props;
---

<div class="flex justify-center items-center absolute w-[50px] h-[50px] md:w-[75px] md:h-[75px] dark:bg-black bg-white rounded-full -mt-3 -start-7 md:-start-10 border-4 dark:border-gray-500 border-black">
  <img transition:name={`icon-${href}`} class=" h-8 md:h-10" src={icon.src} alt={`icon-${href}`}>
</div>
<time
  class="mb-1 ml-12 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
  transition:name={`time-${href}`}
>
  {date}
</time>
<a href={href}>
  <div id="professional-experience-card ">
    <div
      id="professional-experience-card-content"
      class="flex flex-col gap-5 rounded-2xl border-solid dark:border-gray-500 border-[1px] md:border-2 p-5 m-5 mb-40"
    >
    

      <div id="professional-experience-title">
        <h3 id={href} class="text-base md:text-2xl font-semibold dark:text-white text-gray-900">
          <span transition:name={`title-${href}`}>{title}</span> | <span
            transition:name={`group-${href}`}>{group}</span
          >
        </h3>
        <p class="text-base font-normal text-gray-500">
          <span transition:name={`employment_type-${href}`}
            >{employment_type}</span
          > · <span transition:name={`work_title-${href}`}>{work_title}</span>
        </p>
      </div>
      <img transition:name={`image-${href}`} class=" rounded-lg" src={image.src} alt={`img-${href}`}}>
      <p class=" text-sm md:text-base" transition:name={`description-${href}`}>
        {description}
      </p>
    </div>
  </div>
</a>
