---
import Rocket from "/src/assets/rocket_1.png";
import TimelineItem from "./TimelineItem";
import TimelineCard from "./TimelineCard.astro";
import ClassPic from "../../../public/images/CIRCUIT2022-classpic.jpg";
import JHUAPL_ICON from "../../../public/images/jhuapl_shield.svg";
import MSU_ICON from "../../../public/images/msu_helmet.svg";
import MSU_IrrigationWeb from "../../../public/images/msu_irrigationweb.png";
import { type ImageMetadata } from "astro";

type TimelineItemProps = {
  date: string;
  title: string;
  href: string;
  group: string;
  employment_type: string;
  work_title: string;
  picture: ImageMetadata;
  icon: ImageMetadata;
  description: string;
};

const timelineItems: TimelineItemProps[] = [
  {
    date: "August 2024 - Present",
    href: "msuirrigation",
    title: "Michigan State University",
    group: "Irrigation Laboratory",
    employment_type: "On-Call",
    work_title: "Full Stack Software Developer",
    picture: MSU_IrrigationWeb,
    icon: MSU_ICON,
    description:
      "I am Working with Dr. Younsuk Dong in improving the codebase of Particle.io IoT boards. I am making the code more modular and readable for future developers by creating a library of all MSU Irrigation board functions. I am also working on the website for the Irrigation Lab, using Next.js to display the labs work and research to the public.",
  },
  {
    date: "May 2022 - May 2023",
    href: "johnshopkins",
    title: "Johns Hopkins University APL",
    group: "Lunar Vertex",
    employment_type: "Full-Time",
    work_title: "Research Intern",
    picture: ClassPic,
    icon: JHUAPL_ICON,
    description:
      "I was a CIRCUIT Intern for the Lunar Vertex team at JHUAPL. Lunar Vertex is a mission led by JHUAPL to investigate the magnetic anomaly named Reiner Gamma. I worked on creating a software that allowed for the filtering of light noise from the lunar surface. While working at JHUAPL, I also did mangetics testing and calibration for the Lunar Vertex mission.",
  },
];
---

<div>
  <ol
    class="relative border-s-4 border-gray-200 dark:border-gray-700 lg:mx-[5vw]"
  >
    <h2 id="experience" class="px-10 flex items-center font-bold text-6xl">
      Professional Experience
      <span class="inline-flex">
        <img
          class="w-32 inline-block rotate-45"
          src={Rocket.src}
          alt="Gear Icon"
        />
      </span>
    </h2>
    <p class="px-10">My Journey as a Developer</p>
    <div id="separator" class="h-24"></div>
    {
      timelineItems.map((item, index) => (
        <TimelineItem client:load index={index}>
          <TimelineCard
            date={item.date}
            title={item.title}
            href={item.href}
            group={item.group}
            image={item.picture}
            icon={item.icon}
            employment_type={item.employment_type}
            work_title={item.work_title}
            description={item.description}
          />
        </TimelineItem>
      ))
    }
  </ol>
</div>
