---
import { type ImageMetadata } from 'astro';

interface Props {
  title: string;
  employment_type: string;
  work_title: string;
  href: string;
  group: string;
  date: string;
  image: ImageMetadata;
  icon: ImageMetadata;
  description: string;
}

const { title, employment_type, work_title, href, group, date, image, icon, description } =
  Astro.props;
---

<div class="flex justify-center items-center absolute w-[75px] h-[75px] bg-white rounded-full -mt-3 -start-10 border-4 border-black">
  <img transition:name={`icon-${href}`} class=" h-10" src={icon.src} alt={`icon-${href}`}>
</div>
<time
  class="mb-1 ml-12 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
  transition:name={`time-${href}`}
>
  {date}
</time>
<div id="professional-experience-card">
  <div
    id="professional-experience-card-content"
    class="w-[60vw] flex flex-col gap-5 rounded-2xl border-solid border-2 p-5 m-5 mb-40"
  >
    <div id="professional-experience-title">
      <h3 class="text-lg font-semibold text-gray-900">
        <span transition:name={`title-${href}`}>{title}</span> | <span
          transition:name={`group-${href}`}>{group}</span
        >
      </h3>
      <p class="text-base font-normal text-gray-500">
        <span transition:name={`employment_type-${href}`}
          >{employment_type}</span
        > · <span transition:name={`work_title-${href}`}>{work_title}</span>
      </p>
    </div>
    <img transition:name={`image-${href}`} class=" rounded-lg" src={image.src} alt={`img-${href}`}}>
    <div transition:name={`description-${href}`}>
      {description}
    </div>
  </div>
</div>
