---

interface Props {
	title: string;
    subtitle: string;
    group: string;
    date: string;
    description: string;
}

const { title, subtitle, group, date, description } = Astro.props;
---

<time
  class="mb-1 mx-7 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
>
  {date}
</time>
<div id="professional-experience-card">
  <div
    id="professional-experience-card-content"
    class=" w-[60vw] flex flex-col gap-5 rounded-2xl border-solid border-2 p-5 m-5 mb-40"
  >
    <div id="professional-experience-title">
      <h3 class="text-lg font-semibold text-gray-900">
        {title} | {group}
      </h3>
      <p class="text-base font-normal text-gray-500">
        {subtitle}
      </p>
    </div>
    <div>
      {description}
    </div>
  </div>
</div>
